 @import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap'); 
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
/* navbar */
nav{
     font-family: 'Ubuntu', sans-serif;
     
}
nav ul{
    display: flex;
     background-color:black;
     align-items: center;
     color: white;
     height: 65px;
     list-style: none;
}
nav ul li{
    padding: 0px 12px;
    cursor: pointer;
}
.logo img{
    width: 44px;
    padding: 0 8px;
}
.logo{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
   
}
.container{
    min-height: 66vh;
    background-color: black;
    color: white;
    display: flex;
    width: 70%;
    margin: 23px auto;
    font-family: 'Varela Round', sans-serif;
    padding: 20px;
    border-radius: 12px;
    background-image: url('images/bg-img.jpg');
    background-repeat: no-repeat;
  background-size: 100% 130%;
    
}
.header{
    padding: 0 23px;
}


.bottom{
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    position: sticky;
    bottom: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}
.icon{
    margin: 8px;
}
.icon i{
    cursor: pointer;
}
#myprogressbar{
    width: 80vw;
    cursor: pointer;
}
.songItem{
    height: 40px;
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    margin: 8px 0;
    width: 40%;
    border-radius: 20px;
    justify-content: space-between;
}
.songItem img{
    width: 12%;
    margin: 0 23px;
    border-radius: 40px;
    
}
#Srivalli , #Chhukar-Mere{
   border-radius: 55px ;
}
.time{
    margin: 0 23px;
}
.time i{
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left:10vw;
    font-family: 'Varela Round', sans-serif;

}
.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
@media only screen and (max-width: 600px) {
   .songItem{
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
   }
   .container{
    background-image: url("images/WhatsApp Image 2023-01-20 at 6.32.22 PM.jpeg");
   }
   #masterSongName{
    visibility: hidden;
   }
   .bigsong{
    font-size: 12px;
   }
   

  }
